@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: #0d6efd;
}

#inicio {
    background: #0d6efd;
    color: white;
}

footer {
    background-color: #0d6efd;
}
